<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Merccado Liebre 2021</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Merienda&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"
      integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk"
      crossorigin="anonymous"
    />
  </head>

  <body class="home">
    <header>
      <div class="logo-search">
      <div class="logo"><a href="/home"><img src="images/logo-mercado-liebre.svg" alt="" /></a></div>
      <div class="barra-de-busqueda">
        <form action="">
        <input class="search" type="text" placeholder="Buscar productos, marcas">
        <button class="btn-search"><i class="fas fa-search"></i></button> 
      </form>
      </div>
    
      <div class="compra">
        <p><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>
      </div> 
      </div>
      <nav>
        <ul class="site" type="none">
          <li><a href="">Ofertas</a></li>
          <li><a href="">Tiendas Oficiales</a></li>
          <li><a href="">Vender</a></li>
          <li><a href="">Ayuda</a></li>
        </ul>
        <ul class="login" type="none">
          <li>
            <a href="/register">Creá tu cuenta</a><i class="far fa-address-card"></i>
          </li>
          <li><a href="/login">Ingresá</a><i class="fas fa-sign-in-alt"></i></li>
          <li>
            <a href="">Mis Compras</a><i class="fas fa-shopping-basket"></i>
          </li>
        </ul>
       
      </nav>
      <div class="burger-menu">
          <i class="fas fa-bars"></i>
        </div>
    </header>

    <main>
      <div class="banner"><img src="/images/img-home-banner.jpg" alt="" /></div>
      <div class="container-product">
      <section class="ult-visita">
        <h3>Basado en tu última visita</h3>
        <article>
          <img src="/images/img-cafetera-moulinex.jpg" alt="" />
          <div class="data"> 
              <i class="fas fa-truck"></i>
            <div class="precio-descuento">
              <p class="precio">$6.770</p>
              <p class="descuento">40% off</p>
            </div>
            <h4>Cafetera Moulinex</h4>
          </div>
        </article>
        <article>
          <img src="/images/img-macbook-pro-2019.jpg" alt="" />
          <div class="data">
              <i class="fas fa-truck"></i>
            <div class="precio-descuento">            
              <p class="precio">$230.000</p>
              <p class="descuento">20% off</p>
            </div>
            <h4>MacBook Pro 2019</h4>
          </div>
        </article>
        <article>
          <img src="/images/img-samsung-galaxy-s10.jpg" alt="" />
          <div class="data">
              <i class="fas fa-truck"></i>
            <div class="precio-descuento">
              <p class="precio">$70.500</p>
              <p class="descuento">10% off</p>
            </div>
            <h4>Samsung Galaxy S10</h4>
          </div>
        </article>
        <article>
          <img src="/images/img-tv-samsung-smart.jpg" alt="" />
          <div class="data">
              <i class="fas fa-truck"></i>
            <div class="precio-descuento">
             <p class="precio">$23.200</p>
              <p class="descuento">5% off</p>
            </div>
            <h4>SmartTv Samsung 43"</h4>
          </div>
        </article>
      </section>
      <section class="oferta">
        <h3>Ofertas</h3>
        <article>
          <img src="/images/img-cafetera-moulinex.jpg" alt="" />
          <div class="data">
              <i class="fas fa-truck"></i>
            <div class="precio-descuento">
              <p class="precio">$6.770</p>
              <p class="descuento">40% off</p>
            </div>
            <h4>Cafetera Moulinex</h4>
          </div>
        </article>
        <article>
          <img src="/images/img-macbook-pro-2019.jpg" alt="" />
          <div class="data">
               <i class="fas fa-truck"></i>
              <div class="precio-descuento">
                <p class="precio">$230.000</p>
                <p class="descuento">20% off</p>
              </div>
          <h4>MacBook Pro 2019</h4>
          </div>
        </article>
        <article>
          <img src="/images/img-samsung-galaxy-s10.jpg" alt="" />
          <div class="data">
              <i class="fas fa-truck"></i>
            <div class="precio-descuento">
              <p class="precio">$70.500</p>
              <p class="descuento">10% off</p>
            </div>
            <h4>Samsung Galaxy S10</h4>
          </div>
        </article>
        <article>
          <img src="/images/img-tv-samsung-smart.jpg" alt="" />
          <div class="data">
              <i class="fas fa-truck"></i>
            <div class="precio-descuento">
             <p class="precio">$23.200</p>
              <p class="descuento">5% off</p>
            </div>
            <h4>SmartTv Samsung 43"</h4>
          </div>
        </article>
      </section>
    </div>
    </main>

    <footer>
      <div class="pago">
        <i class="fas fa-credit-card"></i>
        <h3>Pagá con tarjeta o en efectivo</h3>
        <p>
          Con MercadoLiebre Cash, tenés cuotas sin interés con tarjeta o
          efectivo enpuntos de pago. ¡Y siempre es seguro!
        </p>
      </div>
      <div class="envio">
        <i class="fas fa-gift"></i>
        <h3>Envío gratis desde $ 2.500</h3>
        <p>
          Solo por estar registrad@ en MercadoLiebre tenés envíos gratis en
          miles de productos. Es un beneficio de Mercado Puntos.
        </p>
      </div>
      <div class="seguridad">
        <i class="fas fa-user-shield"></i>
        <h3>Seguridad, de principio a fin</h3>
        <p>
          ¿No te gusta? ¡Devolvelo! En MercadoLiebre, no hay nada que no puedas
          hacer, porque estás siempre protegid@.
        </p>
      </div>
      <div id="copyright">
        <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
      </div>
    </footer>
  </body>
</html>
