footer {
  background-color: white;
}


/* Iconos */
footer div i {
  color: #1259c3;
  font-size: 30px;
  padding: 20px;
  transition: all ease .5s;
}
footer div i:hover {
    color: #0022AA;
}

/* texto */
footer div {
  text-align: center;
  padding: 0px 10px;
  margin: 20px auto;
}
/* titulos */
footer div h3 {
  color: #666;
  font-size: 22px;
  margin: 0px;
}

footer div p {
  color: #666;
  font-size: 16px;
  margin: 0;
}

#copyright {
    
  text-align: left;
  margin: 20px auto 0px;
}

#copyright p{
  font-size: 14px;  
}

@media (min-width: 768px) {
  footer .container-footer{
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0 auto;
  }
  footer div{
    width: 100%;
  }

}