  header {
  background-color: #eac926;
  width: 100%;
  padding: 20px 0px 5px;
}

header .logo-search{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

 header .logo {
    width: 48%;

}
/* Barra de busqueda */
.barra-de-busqueda{
  width: 48%;
}

.barra-de-busqueda form{
  display: flex;
  justify-content: center;
}

.barra-de-busqueda .search{
  background-color: #ffffff;
  color: var(--Gris-Oscuro);
  width: 74%;
  text-align: center;
  border-radius: 12px 0 0 12px;
  border: none;

}

.barra-de-busqueda .btn-search{
  background-color: #ffffff;
  color: var(--Gris-Oscuro);
  width: 26%;
  text-align: center;
  border-radius:  0  12px  12px  0;
  height: 30px;
  border: none;
}


/* Compra en cuotas... */
.compra {
  text-align: center;
  padding: 5px 0;
}

/* Barra de navegacion */


 header nav {
  display: none;
}
 header nav ul {
  padding: 0px;
}

 header nav ul li a {
  color: #000;
  text-decoration: none;
}

/* Boton de hamburguesa */
  header .burger-menu {
  color: #ffffff;
  background-color: #1259c3;
  width: 24px;
  height: 24px;
  text-align: center;
  margin: 0 auto;
  border-radius: 3px;
}

 header .burger-menu i{
    font-size: 13px;
    text-align: center;
    padding-top: 5px;
}

/* Tablet */
@media (min-width: 768px) {
  /* Barra de navegacion */
   header nav {
    text-align: center;
     margin: 0px 10px;
    display: block;
    display: flex;
    justify-content: space-between;
  }

  header nav ul{
    display: flex;
    justify-content: space-around;
  }

  header nav ul li{
    padding: 0px 8px;
  }
  /* Boton de hamburguesa */
    .burger-menu {
    display: none;
  }

  header .logo{
    width:  32%;
  }
  .barra-de-busqueda{
    width:   32%;
  }
  .barra-de-busqueda .btn-search{
    width: 14%;
  }

  .compra {
    width:   32%;
  }

}

/* Escritorio */
@media (min-width: 1024px) {
}
