body {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}

header{
    background-color: #EAC926;
}

.barra-de-busqueda i{
    font-style: inherit;
    background-color:#ffffff; 
    color: #666;
    border: 1px solid #666;
}

.compra{
    text-align: center;
}

header nav ul li a{
    color: #000;
    text-decoration: none;
}

.burger-menu{
    color: #ffffff;
    background-color: #1259c3;
    width: 20px;
    text-align: center;
    margin: 0 auto;
}

main section h3 {
    font-size: 24px;
}

main section article {
    font-size: 18px;
}

footer div i {
color: #1259c3;
font-size: 30px ;
}
footer div {
    text-align: center;
}
footer div h3{
    color: #666;
    font-size: 24px;
}

footer div p{
    color:#666; 
    font-size: 16px;
}

#copyright{
    text-align: left;
}